body {
    background-color: #acacac;
    margin-left: 64px;
    margin-right: 64px;
}

h1 {
    color: #ad0000;
    font-size: 60px;
    font-family: "otsikko";
}

h2 {
    color: #ad0000;
    font-size: 48px;
    font-family: "otsikko";
}

h3 {
    color: #ad0000;
    font-size: 32px;
    font-family: "otsikko";
}

h4 {
    color: #ad0000;
    font-size: 18px;
    font-family: "otsikko";
}

p {
    color: #ad0048;
    font-family: "leipäteksti";
}

section {
    background-color: #dddddd;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 20px;
}

a {
    color:#008800;
    font-family: "leipäteksti";
}

a:hover {
    color:#00ff00
}

a:visited {
    color: #818181;
}

button {
    background-color: #008800;
    color:#ffffff;
}

button:hover {
    background-color: #00ff00;
}

form:focus {
    background-color: #f3ffae;
}

li:last-child {
    font-style: italic;
}

@font-face {
  font-family: "leipäteksti";
  src: url("./Quintessential/Quintessential-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "otsikko";
  src: url("./Lugrasimo/Lugrasimo-Regular.ttf");
  font-weight: bold;
}